# StylesSheet for Arm Assembly Language Programming

p { font-family: "Century Schoolbook"; font-size: 10pt }

p.Heading-1 { font-size: 18pt; font-family: sans-serif; font-weight: bold}
p.Heading-2 { font-size: 14pt; font-family: sans-serif; font-weight: bold}
p.Heading-3 { font-size: 12pt; font-family: sans-serif; font-weight: bold}
p.Heading-4 { font-size: 12pt; font-style: italic }
p.Main-Paragraph {}
p.Paragraph-no-space {
	margin:0in;
	margin-bottom:.0001pt;
}
.Program {
	font-family: monospace;
	font-weight: bold;
	font-size: 10pt;
	white-space: pre
} 
.Program-light {
	font-family: monospace;
	font-size: 10pt;
	white-space: pre
}

span.Bold { font-weight: bold } 
span.computer { font-family: monospace; font-weight: bold; font-size: 10pt} 
span.H { vertical-align: super; font-size: 75% }
span.Italic { font-style: italic }
span.Title { font-size: 40pt; font-family: sans-serif; font-weight: bold }
span.Title-Author { font-size: 14pt; font-family: sans-serif; font-weight: bold }
li.TOC-Chapter {}
li.TOC-Appendix {}
table {
	font-size: 9pt;
	font-family: sans-serif;
	font-weight: bold;
	border: black 2pt solid;
	border-collapse: collapse;
}

table th {
	padding: 2pt;
	font-size: 10pt;
	border: black 1pt solid;
	border-bottom-width: 2pt;
}

table td {
	padding: 2pt;
	font-size: 10pt;
	border: black 1pt solid;
}

table.Opcode-Table {
	font-size: 9pt;
	font-family: sans-serif;
	font-weight: bold;
	width:80%;
	border: black 2pt solid;
	border-spacing: 0pt 0pt;
	empty-cells: show;
	border-collapse: collapse;
}
table.Opcode-Table th {
	text-align: left;
	padding: 2pt;
	font-size: 10pt;
	border: black 1pt solid;
	border-right-style: none;
}

table.Opcode-Table td {
	padding: 2pt;
	border: black 1pt solid;
	border-right-style: none
}

table.Opcode-Table th.Space-Col { border-left-style: none}
table.Opcode-Table td.Space-Col { border-left-style: none}

td.is-grid-bit {font-size: 8pt; font-family: sans-serif; font-weight: bold}
td.is-grid-label {font-size: 10pt; font-family: sans-serif; font-weight: bold }

