
/* r.a.d.menu - Icon + Text */

/* Left to Right */


.RadMenu_IconAndTextLtr
{
	padding-left: 10px;
	border:0;
}

.RadMenu_IconAndTextLtr_Context
{
	background: none;
	border:0;
}

.RadMenu_IconAndTextLtr .item
{
	line-height: 26px;
}

.RadMenu_IconAndTextLtr .link
{
	font-family:Arial, Helvetica, sans-serif;
	color: #008095;
	font-weight:normal;
	background: url('/images/english/icon_top_menu.gif') left left no-repeat;
	font-size: 14px;
	text-decoration:none;
}
.RadMenu_IconAndTextLtr .link:hover,
.RadMenu_IconAndTextLtr .focused,
.RadMenu_IconAndTextLtr .expanded
{
	cursor: hand;
}

.RadMenu_IconAndTextLtr .text
{
	padding-left: 5px;	
	padding-right: 5px;
	text-align: left;
}

.RadMenu_IconAndTextLtr .group
{
	border: 0px;
	border-top:1px solid #e7e8e9;
}
.RadMenu_IconAndTextLtr .group .item
{
	border-left: solid 1px #e7e8e9;
	border-right: solid 1px #e7e8e9;
	cursor: hand;
	background: #ffffff;
	line-height: 20px;
}
.RadMenu_IconAndTextLtr .group .item .first
{
}
.RadMenu_IconAndTextLtr .group .link
{
	line-height: 20px;
	color: #a9a9aa;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
	border-bottom: solid 1px #e7e8e9;
	text-align: left;
	background: url('/images/space.gif') left left repeat-x;
}
.RadMenu_IconAndTextLtr .group .text
{
	padding-left: 10px;	
	text-align: left;
}

.RadMenu_IconAndTextLtr .group .link:hover,
.RadMenu_IconAndTextLtr .group .focused,
.RadMenu_IconAndTextLtr .group .expanded
{
	color:#003540;
}

