BODY 
{
	scrollbar-arrow-color:#2F4151;
	scrollbar-track-color:#d0d1d3;
	scrollbar-shadow-color:#2F4151;
	scrollbar-face-color:#d0d1d3;
	scrollbar-highlight-color:#ffffff;
	scrollbar-darkshadow-color:#acaeaf;
	scrollbar-3dlight-color:#eef0f2;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
A
{
	text-decoration: none;
}
/* Default text */
.Body, A.Body:Link, A.Body:Visited
{
    font-size:11px;
    color: #454545;
    font-weight : normal;
    text-decoration: none;
}
A.Body:Hover
{
    text-decoration: underline;
}
/* Bold text */
.TextBold, a.TextBold:Link, a.TextBold:Visited, a.TextBold:Hover
{
    font-size:11px;
    color: #454545;
    font-weight : bold;
    text-decoration: none;
}
/* Page header */
.PSPList
{
	margin:0px;
	padding:0px 0px 0px 16px;
	list-style-position:outside;
	color: #008095;
	line-height:18px;
}
/*---- General Classes ----*/
.TextToEmail, A.TextToEmail:Link, A.TextToEmail:Visited, A.TextToEmail:Hover
{
    font-size:11px;
    color: #0000ff;
    font-weight:bold;
    text-decoration: none;
}
/* Sub header */
.SubHeader, A.SubHeader:Link, A.SubHeader:Visited, A.SubHeader:Hover
{
    font-size:13px;
    color: #003540;
    font-weight :bold;
    text-decoration: none;
}
.SubHeader5, A.SubHeader5:Link, A.SubHeader5:Visited, A.SubHeader5:Hover
{
    font-size:11px;
    color: #003540;
    font-weight :bold;
    text-decoration: none;
}
.SubHeader2, A.SubHeader2:Link, A.SubHeader2:Visited, A.SubHeader2:Hover
{
    font-size:12px;
    color: #008095;
    font-weight :bold;
    text-decoration: none;
}
.SubHeader3, A.SubHeader3:Link, A.SubHeader3:Visited, A.SubHeader3:Hover
{
    font-size:11px;
    color: #008095;
    font-weight :bold;
    text-decoration: none;
}
.SubHeader4, A.SubHeader4:Link, A.SubHeader4:Visited, A.SubHeader4:Hover
{
    font-size:14px;
    color: #008095;
    font-weight :bold;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
}
/* Button */
.Button 
{
    border-style: solid;
    border-width:0;
	background-color:#008095;
	font-size:10px;
	font-weight : bold;
	color: #FFFFFF;
	text-align:center;
	cursor: hand;
	padding-right:6px;
	padding-left:6px;
	padding-bottom:3px;
	padding-top:3px;
}
/* Default link */
A.SmallLink:link, A.SmallLink:visited
{
	color: #767676;
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
}
A.SmallLink:hover 
{
	text-decoration:underline;
}
/* Another link */
A.SmallLink2:link, A.SmallLink2:visited
{
	color: #767676;
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
}
A.SmallLink2:hover 
{
	text-decoration:underline;
}
.ImageLink, A.ImageLink:link, A.ImageLink:visited
{
	color: #767676;
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
}
A.ImageLink:hover 
{
	text-decoration: underline;
}
A.IconLink:link, A.IconLink:visited
{
	color: #767676;
	font-size:10px; 
	text-decoration:none;
	font-weight:normal;
}
A.IconLink:hover 
{
	text-decoration: underline;
}
/* Dividers between list items */
/*---- Products ----*/

.ProductBoxTop
{
	background-color:#FFFFFF;
}
.ProductBoxMiddle
{
	background-color:#FFFFFF;
}
.ProductBoxBottom
{
	background-color:#FFFFFF;
}
.ProductHeader
{
    font-size:11px;
    color: #f5863a;
    font-weight : bold;
    height: 24px;
    vertical-align: middle;
}
.ProductHeaderIndex, A.ProductHeaderIndex:Link, A.ProductHeaderIndex:Visited, A.ProductHeaderIndex:Hover
{
    font-size:11px;
    color: #f5863a;
    font-weight :bold;
    text-decoration: none;
}
.ProductPicBorder
{
    border: 0px solid #2f4151; 
}
A.ProductsIconLink:link, A.ProductsIconLink:visited
{
	color: #2f4151;
	font-size:11px; 
	text-decoration: underline;
	font-weight:normal;
}
A.ProductsIconLink:hover 
{
	color: #2F4151; 
	font-size:11px; 
	text-decoration: underline;
	font-weight:normal;
}
.ProductDetailsTable
{
    background-color: #454545;
}
.ProductPrice
{
	color: #ff6600;
	font-size:11px;
	text-decoration: none;
	font-weight:normal;
}
.ProductSalePrice
{
    color: #ff3333;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
}
.RelatedProductsBox
{
	border: 1px solid #2f4151;
}
.RelatedProductsHeaderRtl
{
	color: #FFFFFF;
    background-color: #2f4151;
	font-size:11px;
	font-weight:bold;
	padding-left: 25px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}
.RelatedProductsHeaderLtr
{
	color: #FFFFFF;
    background-color: #2f4151;
	font-size:11px;
	font-weight:bold;
	padding-left: 8px;
	padding-right: 25px;
	padding-top: 4px;
	padding-bottom: 4px;
}

/*---- Pager for the Products list/Picture gallery ----*/
.Pager
{
	color: #454545;
	font-size:11px; 
	text-decoration: none;
	font-weight:normal;
}
A.PagerLink:Link, A.PagerLink:Visited
{
	color: #454545;
	font-size:11px; 
	text-decoration:none;
	font-weight:normal;
}
A.PagerLink:Hover
{
    color: #f5863a;
	font-size:11px; 
	text-decoration: none;
	font-weight:normal;
}


/*---- Search Box ----*/

.SearchTableRtl
{
	background-image:url(../Images/English/bgr_search.gif);
	background-repeat:no-repeat;
	background-position:right top;
	padding-right:2px;
	padding-left:2px;
	height:24px;
	widows:170px;
}
.SearchTableLtr
{
	background-image:url(../Images/English/bgr_search.gif);
	background-repeat:no-repeat;
	background-position:left top;
	padding-right:2px;
	padding-left:2px;
	height:24px;
	widows:170px;
}
.SearchTextRtl
{
    font-size:10px;
    color:#767676;
	font-weight:normal;
}
.SearchTextLtr 
{
    font-size:10px;
    color:#767676;
	font-weight:normal;	
	padding-right:5px;
	/* line-height:26px; */
}

.SearchTextLtr a
{
    color:#767676;
}

.SearchBoxField
{
    border: 1px solid #969696; 
    font-size:10px;
    background-color:#FFFFFF;
    color:#075C9F;
	width:78px;
	height:12px;
	margin-right:5px;
}



/*---- Footer ----*/

.FooterRtl
{
	background-image:url(../Images/Hebrew/bgr_Footer.gif);
	background-position:left top;
	height:25px;
	background-repeat:repeat-x;
}
.FooterLtr
{
	background-image:url(../images/bgr_Footer.gif);
	background-position:left top;
	height:25px;
	background-repeat:repeat-x;
}
.FooterSideMenuRtl
{
	width:320px;
	text-align:right;
}
.FooterSideMenuLtr
{
	text-align:left;
}
.FooterText
{
    font-size:10px;
    color: #767676;
    font-weight:normal;
    text-decoration: none;
white-space:nowrap;

}
.FooterTextDivder
{
    font-size:10px;
    color: #767676;
    font-weight:normal;
    text-decoration: none;
	width:14px;

}
.CDTechText, A.CDTechText:Link, A.CDTechText:Visited, A.CDTechText:Hover
{
    font-size:10px;
    color: #b3b3b3;
    font-weight:normal;
    text-decoration: none;
	display:none;
}



/*---- Side Menu ----*/

.SideMenuBgRtl
{
	/*background-color:#e9eff3;
	border-left:1px solid #a8c5d7;*/
}
.SideMenuBgLtr
{
	/*background-color:#e9eff3;
	border-right:1px solid #a8c5d7;*/
}
.SideMenuTableRtl
{
}
.SideMenuTableLtr
{
}
.SideMenuDividerRtl
{
	background-image:url(../Images/Hebrew/divider.gif);
}
.SideMenuDividerLtr
{
    background-image:url(../Images/English/divider.gif);
}
.SideMenuItemRtl
{
    cursor: hand;
	background-image:url(/images/hebrew/bgr_SideMenu.gif);
}
.SideMenuItemLtr
{
    cursor: hand;
	background-image:url(/images/english/bgr_SideMenu.gif);
}
.SideMenuLinkRtl, A.SideMenuLinkRtl:Link, A.SideMenuLinkRtl:Visited, A.SideMenuLinkRtl:Hover 
{
    font-size:11px;
    color: #2f4151;
    font-weight : bold;
    text-decoration: none;
}
.SideMenuLinkLtr, A.SideMenuLinkLtr:Link, A.SideMenuLinkLtr:Visited, A.SideMenuLinkLtr:Hover  
{
    font-size:11px;
    color: #2f4151;
    font-weight : bold;
    text-decoration: none;
}
.SideMenuSubSectionBgrRtl
{

}
.SideMenuSubSectionBgrLtr
{
	background-image:url(/images/hebrew/bgr_SideSubMenu.gif);

}
.SideMenuSubBgrRtl
{
}
.SideMenuSubBgrLtr
{
	background-image:url(/images/english/bgr_SideSubMenu.gif);
}
.SideMenuSubItemRtl
{
    cursor: hand;
}
.SideMenuSubItemLtr
{
    cursor: hand;
}
.SideMenuSubDividerRtl
{
   	background-image:url(../Images/Hebrew/divider.gif);
}
.SideMenuSubDividerLtr
{
   	background-image:url(../Images/English/divider.gif);
}
.SideMenuSubLinkRtl, A.SideMenuSubLinkRtl:Link, A.SideMenuSubLinkRtl:Visited, A.SideMenuSubLinkRtl:Hover 
{
    font-size:11px;
    color: #2f4151;
    font-weight : normal;
    text-decoration: none;
}
.SideMenuSubLinkLtr, A.SideMenuSubLinkLtr:Link, A.SideMenuSubLinkLtr:Visited, A.SideMenuSubLinkLtr:Hover 
{
    font-size:11px;
    color: #2f4151;
    font-weight : normal;
    text-decoration: none;
}
.SideMenuSubSubItem
{
    cursor: hand;
}
.SideMenuSubSubLinkRtl, A.SideMenuSubSubLinkRtl:Link, A.SideMenuSubSubLinkRtl:Visited, A.SideMenuSubSubLinkRtl:Hover  
{
    font-size:11px;
    color: #2f4151;
    font-weight : normal;
    text-decoration: none;
}
.SideMenuSubSubLinkLtr, A.SideMenuSubSubLinkLtr:Link, A.SideMenuSubSubLinkLtr:Visited, A.SideMenuSubSubLinkLtr:Hover  
{
    font-size:11px;
    color: #2f4151;
    font-weight : normal;
    text-decoration: none;
}
.SideMenuSubSubDividerRtl
{
    background-image:url(../Images/Hebrew/divider.gif);
}
.SideMenuSubSubDividerLtr
{
    background-image:url(../Images/English/divider.gif);
}
.SideMenuSubSubBgrRtl
{
	background-image:url(/images/hebrew/bgr_SideSubSubMenu.gif);
}
.SideMenuSubSubBgrLtr
{
	background-image:url(/images/english/bgr_SideSubSubMenu.gif);
}
.SideBannersRtl
{
    border: 0px solid #FF6600;
    border-collapse: collapse;
}
.SideBannersLtr
{
    border: 0px solid #FF6600;
    border-collapse: collapse;
}



/*---- Top Menu ----*/

.TopMenuTableRtl
{
}
.TopMenuTableLtr
{
}

/*---- Drop Down Menu Side Menu ----*/

A.DropMenuSubLink:Link, A.DropMenuSubLink:Visited
{
    width: 100%;
    height: 100%;
    display: block;
    font-size:11px;
    color: #7B7366;
    font-weight:normal;
    text-decoration: none;
}
A.DropMenuSubLink:Hover
{
    background-color: #D4EEFF;
}
.DropDownMenuItem
{
    border-bottom: #E5E5E5 1px solid;
    font-size:11px;
    color: #7B7366;
    font-weight:normal;
    text-decoration: none;
}
.DropDownMenu
{
    position: absolute;
    line-height: 24px;
    z-index: 999;
}
.DropDownMenuTable
{
    background-color: #ffffff;
    border-right: #E5E5E5 1px solid;
    border-top: #E5E5E5 1px solid;
    border-left: #E5E5E5 1px solid;
}



/*---- Site Map ----*/
A.SiteMapLink:Link, A.SiteMapLink:Visited
{
	color: #2f4151;
	font-size:11px; 
	text-decoration: none;
	font-weight:normal;
}
A.SiteMapLink:Hover
{
	color: #2f4151;
	font-size:11px; 
	text-decoration: underline;
	font-weight:normal;
}


/*---- Shopping Cart ----*/
.CartTable
{
    background-color: #FFFFFF;
}
.CartTableHeaderRtl
{
    font-size: 12px;
    color: #2f4151;
    background-color: #bfe7ff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
.CartTableHeaderLtr
{
    font-size: 12px;
    color: #2f4151;
    background-color: #bfe7ff;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
.CartTableRow1
{
    background-color: #f9f9f9;
}
.CartTableRow2
{
    background-color: #DfDfDf;
}
.CartTableText
{
    font-size: 12px;
    color: #2f4151;
    font-weight: normal;
    text-decoration: none;
    padding: 5px;
}
.CartTableTotal
{
    font-size: 12px;
    background-color: #dcfcff;
    color: #2f4151;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
}
.ShoppingCartStateRtl
{
   /* background-image:url(/images/hebrew/bgr_store.gif);*/
    background-color:#2D73C9;
}
.ShoppingCartStateLtr
{
   /* background-image:url(/images/english/bgr_store.gif);*/
    background-color:#2D73C9;
}
.ShoppingCartStateText
{
    font-size:11px;
    color: #FFFFFF;
    font-weight : bold;
    text-decoration: none;
}


/*---- Store Login ----*/
.LoginDivider
{
    background-color: #bbbbbb;
}

/*---- Print ----*/
.PrintBody
{
    background-color: #FFFFFF;
}
.PrintTable
{
    background-color: #000000;
    padding: 5px;
}
.PrintText
{
    font-size:11px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight : normal;
}
.PrintHeader
{
    font-size:11px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight : bold;
}

/*---- Forum ----*/
.ForumHeaderRow
{
	background-color: #f4f5f7;
}
.ForumColumnTitle
{
	font-size: 11px;
	color: #003441;
	font-weight: bold;
	border:1px solid #eae6e7;
	padding-left:15px;
	border-bottom:0;
}
A.ForumMessageTitle:Link, A.ForumMessageTitle:Visited, A.ForumMessageTitle:Hover
{
    font-size:12px;
    color: #008095;
    font-weight:normal;
}
A.ForumLink:Link, A.ForumLink:Visited
{
    font-size:10px;
    color: #767676;
    font-weight : normal;
}
A.ForumLink:Hover
{
	text-decoration:underline;
}
A.ForumTextLink:Link, A.ForumTextLink:Visited, A.ForumTextLink:Hover
{
    font-size:11px;
    font-weight : normal;
    text-decoration: underline;
}
.ForumRow1
{
	border:1px solid #d4d4d4;
}
.ForumRow2
{
	border:1px solid #d4d4d4;
}
.ForumDivider
{
	/*background-color: #d4d4d4;*/
}
.ForumSubDivider
{
	/*background-color: #e7e8e9;*/
}
.ForumLinksRow
{
	background-color: #ffffff;
	height: 25px;
}
ForumPagerLinkSelected, A.ForumPagerLinkSelected:Link, A.ForumPagerLinkSelected:Visited, A.ForumPagerLinkSelected:Hover 
{
    color: #000000;
    font-size:11px;
    font-weight : bold;
    text-decoration: none;
}
A.ForumPagerLink:Link, A.ForumPagerLink:Visited, A.ForumPagerLink:Hover 
{
    color: #000000;
    font-size:11px;
    font-weight : normal;
    text-decoration: none;
}

.Hidden
{
	display: none;
}
.Remark
{
	color: #000000;
	font-size:11px;
}

/*---- Agents ----*/
.AgentsLoginTitleRtl
{
	background-image: url(/images/hebrew/bgr_AgentsLoginTitle.gif);
	background-repeat: no-repeat;
	height: 36px;
}
.AgentsLoginTitleLtr
{
	background-image: url(/images/english/bgr_AgentsLoginTitle.gif);
	background-repeat: no-repeat;
	height: 36px;
}
.AgentsLoginCenterRtl
{
	background-image: url(/images/hebrew/bgr_AgentsLoginCenter.gif);
	background-repeat: repeat-y;
}
.AgentsLoginCenterLtr
{
	background-image: url(/images/english/bgr_AgentsLoginCenter.gif);
	background-repeat: repeat-y;
}
.AgentsLoginBottomRtl
{
	background-image: url(/images/hebrew/bgr_AgentsLoginBottom.gif);
	height: 19px;
	background-repeat: no-repeat;
}
.AgentsLoginBottomLtr
{
	background-image: url(/images/english/bgr_AgentsLoginBottom.gif);
	height: 19px;
	background-repeat: no-repeat;
}
.AgentsInnerTitleRtl
{
	background-image: url(/images/hebrew/bgr_AgentsInnerTitle.gif);
	background-repeat: no-repeat;
	height: 36px;
}
.AgentsInnerTitleLtr
{
	background-image: url(/images/english/bgr_AgentsInnerTitle.gif);
	background-repeat: no-repeat;
	height: 36px;
}
.AgentsInnerCenterRtl
{
	background-image: url(/images/hebrew/bgr_AgentsInnerCenter.gif);
	background-repeat: repeat-y;
}
.AgentsInnerCenterLtr
{
	background-image: url(/images/english/bgr_AgentsInnerCenter.gif);
	background-repeat: repeat-y;
}
.AgentsInnerBottomRtl
{
	background-image: url(/images/hebrew/bgr_AgentsInnerBottom.gif);
	height: 19px;
	background-repeat: no-repeat;
}
.AgentsInnerBottomLtr
{
	background-image: url(/images/english/bgr_AgentsInnerBottom.gif);
	height: 19px;
	background-repeat: no-repeat;
}
.AgentsPageTitleRtl
{
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	padding-right: 20px;
}
.AgentsPageTitleLtr
{
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 20px;
}
.AgentsSubTitle
{
	font-size: 13px;
	font-weight: bold;
	color: #3333ff;
}
.Box1
{
	background-color: #FFFFFF;
    border: 1px solid #FF6600;
    border-collapse: collapse;
}
.TableHeader1
{
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5c77a2;
}
.Box2
{
	background-color: #FFFFFF;
    border: 1px solid #FF6600;
    border-collapse: collapse;
}
.TableHeader2
{
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5c9dd9;
}

/*---- Movie Catalog ----*/
.MovieCategoriesBoxRtl
{
	vertical-align:top;
}
.MovieCategoriesBoxLtr
{
	vertical-align:top;
}
.MovieCategoriesTitleRtl
{
	height: 39px;
	background-image: url(/images/hebrew/bgr_MovieCategoryListTitle.gif);
	padding-right: 40px;
	font-size: 13px;
	font-weight: bold;
	color: #0066ff;
}
.MovieCategoriesTitleLtr
{
	height: 39px;
	background-image: url(/images/english/bgr_MovieCategoryListTitle.gif);
	padding-left: 40px;
	font-size: 13px;
	font-weight: bold;
	color: #0066ff;
}
.MovieCategoryLinkRtl
{
	padding-right:5px;
	font-size: 12px;
	font-weight: bold;
	color: #0066ff;
}
.MovieCategoryLinkLtr
{
	padding-left:5px;
	font-size: 12px;
	font-weight: bold;
	color: #0066ff;
}
.MovieCategoryIconRtl
{
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
}
.MovieCategoryIconLtr
{
	padding-left:10px;
	padding-top:3px;
	padding-bottom:3px;
}
.MovieCategoriesMiddleRtl
{
	background-image: url(/images/hebrew/bgr_MovieCategoryListCenter.gif);
	background-repeat:repeat-y;
	padding-top:10px;
	padding-bottom:10px;
}
.MovieCategoriesMiddleLtr
{
	background-image: url(/images/english/bgr_MovieCategoryListCenter.gif);
	background-repeat:repeat-y;
	padding-top:10px;
	padding-bottom:10px;
}
.MovieCategoriesBottomRtl
{
	 background-image: url(/images/hebrew/bgr_MovieCategoryListBottom.gif);
	 background-repeat: no-repeat;
	 height: 30px;
}
.MovieCategoriesBottomLtr
{
	 background-image: url(/images/english/bgr_MovieCategoryListBottom.gif);
	 background-repeat: no-repeat;
	 height: 30px;
}
.MovieIndexRtl
{
	/*padding:4px;*/
}
.MovieIndexLtr
{
	/*padding:4px;*/
}
.MovieBoxTitleCenterRtl
{
	 background-image: url(/images/hebrew/MovieBoxTitleCenter.gif);
	 height: 20px;
	 padding-right: 10px;
	 padding-left: 10px;
	 vertical-align:middle;
}
.MovieBoxTitleCenterLtr
{
	 background-image: url(/images/english/MovieBoxTitleCenter.gif);
	 height: 20px;
	 padding-right: 10px;
	 padding-left: 10px;
	 vertical-align:middle;
}
.MovieBoxTitleFirstSideRtl
{
	 background-image: url(/images/hebrew/MovieBoxTitleFirstSide.gif);
	 width:14px;
	 height:26px;
}
.MovieBoxTitleFirstSideLtr
{
	 background-image: url(/images/english/MovieBoxTitleFirstSide.gif);
	 width:14px;
	 height:26px;
}
.MovieBoxTitleSecondSideRtl
{
	 background-image: url(/images/hebrew/MovieBoxTitleSecondSide.gif);
	 width:14px;
	 height:26px;
}
.MovieBoxTitleSecondSideLtr
{
	 background-image: url(/images/english/MovieBoxTitleSecondSide.gif);
	 width:14px;
	 height:26px;
}
A.MovieBoxTitleLink
{
	font-size: 13px;
	font-weight: bold;
	color: #0066ff;
}
.MovieBoxText
{
	font-size: 11px;
	color: #0066ff;
}
.HeaderVideoCenterRtl
{
	background-image: url(/images/hebrew/bgr_HeaderVideoCenter.gif);
	background-repeat: repeat-x;
	font-size: 13px;
	font-weight: bold;
	color: #0066ff;
}
.HeaderVideoCenterLtr
{
	background-image: url(/images/english/bgr_HeaderVideoCenter.gif);
	background-repeat: repeat-x;
	font-size: 13px;
	font-weight: bold;
	color: #0066ff;
}
.VideoTableRtl
{
	 width: 436px;
}
.VideoTableLtr
{
	 width: 436px;
}
.VideoTopCornerFirstSideRtl
{
	 background-image: url(/images/hebrew/VideoTopCornerFirstSide.gif);
	 background-repeat: no-repeat;
	 width: 58px;
	 height: 58px;
}
.VideoTopCornerFirstSideLtr
{
	 background-image: url(/images/english/VideoTopCornerFirstSide.gif);
	 background-repeat: no-repeat;
	 width: 58px;
	 height: 58px;
}
.VideoTopRtl
{
	 background-image: url(/images/hebrew/VideoTop.gif);
	 background-repeat: no-repeat;
	 width: 320px;
	 height: 58px;
}
.VideoTopLtr
{
	 background-image: url(/images/english/VideoTop.gif);
	 background-repeat: no-repeat;
	 width: 320px;
	 height: 58px;
}
.VideoTopCornerOppositeSideRtl
{
	 background-image: url(/images/hebrew/VideoTopCornerOppositeSide.gif);
	 background-repeat: no-repeat;
	 width: 58px;
	 height: 58px;
}
.VideoTopCornerOppositeSideLtr
{
	 background-image: url(/images/english/VideoTopCornerOppositeSide.gif);
	 background-repeat: no-repeat;
	 width: 58px;
	 height: 58px;
}
.VideoMiddleFirstSideRtl
{
	 background-image: url(/images/hebrew/VideoMiddleFirstSide.gif);
	 background-repeat: repeat-y;
}
.VideoMiddleFirstSideLtr
{
	 background-image: url(/images/english/VideoMiddleFirstSide.gif);
	 background-repeat: repeat-y;
}
.VideoMiddleLtr
{
	 height: 239px;
}
.VideoMiddleRtl
{
	 height: 239px;
}
.VideoMiddleOppositeSideRtl
{
	 background-image: url(/images/hebrew/VideoMiddleOppositeSide.gif);
	 background-repeat: repeat-y;
}
.VideoMiddleOppositeSideLtr
{
	 background-image: url(/images/english/VideoMiddleOppositeSide.gif);
	 background-repeat: repeat-y;
}
.VideoBottomCornerFirstSideRtl
{
	 background-image: url(/images/hebrew/VideoBottomCornerFirstSide.gif);
	 background-repeat: no-repeat;
	 height: 37px;
}
.VideoBottomCornerFirstSideLtr
{
	 background-image: url(/images/english/VideoBottomCornerFirstSide.gif);
	 background-repeat: no-repeat;
	 height: 37px;
}
.VideoBottomRtl
{
	 background-image: url(/images/hebrew/VideoBottom.gif);
	 background-repeat: repeat-x;
	 height: 58px;
}
.VideoBottomLtr
{
	 background-image: url(/images/english/VideoBottom.gif);
	 background-repeat: repeat-x;
	 height: 58px;
}
.VideoBottomCornerOppositeSideRtl
{
	 background-image: url(/images/hebrew/VideoBottomCornerOppositeSide.gif);
	 background-repeat: no-repeat;
	 height: 58px;
}
.VideoBottomCornerOppositeSideLtr
{
	 background-image: url(/images/english/VideoBottomCornerOppositeSide.gif);
	 background-repeat: no-repeat;
	 height: 58px;
}
.RateMovieRtl
{
	padding: 6px;
	background-color: #EEEEEE;
	font-size: 12px;
	color: #0066ff;
}
.RateMovieLtr
{
	padding: 6px;
	background-color: #EEEEEE;
	font-size: 12px;
	color: #0066ff;
}
.RatingTextBold
{
	font-size: 12px;
	font-weight: bold;
	color: #0066ff;
}
.MovieCommentsTableRtl
{
	padding:3px;
}
.MovieCommentsTableLtr
{
	padding:3px;
}
.MovieCommentsTitleRtl
{
    width:400px;
    height:32px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-image:url(../images/hebrew/bgr_ResponseTitle.gif);
}
.MovieCommentsTitleLtr
{
    width:400px;
    height:32px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	background-image:url(../images/english/bgr_ResponseTitle.gif);
}
.MovieCommentsText
{
	font-size: 12px;
	color: #2f4151;
	padding: 3px;
}
.MovieCommentsText2
{
	font-size: 12px;
	color: #6e6f70;
	padding: 3px;
}
.MovieCommentsDividerRtl
{
    background-color:#bbbbbb;
	height:1px;
}
.MovieCommentsDividerLtr
{
    background-color:#bbbbbb;
	height:1px;
}
.AddMovieRtl
{
	padding-top:10px;
	background-image:url(../images/hebrew/addVideo.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	height:36px;
	text-align:center;
	cursor:hand;
}
.AddMovieLtr
{
	padding-top:10px;
	background-image:url(../images/english/addVideo.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	height:36px;
	text-align:center;
	cursor:hand;
}
.AddMovieLinkRtl, a.AddMovieLinkRtl:Link, a.AddMovieLinkRtl:Visited, a.AddMovieLinkRtl:Hover
{
	width:100%;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}
.AddMovieLinkLtr, a.AddMovieLinkLtr:Link, a.AddMovieLinkLtr:Visited, a.AddMovieLinkLtr:Hover
{
	width:100%;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

/*---- Events ----*/
.EventDetailsRtl
{
}
.EventDetailsLtr
{
}
.EventDetailsTopRtl
{
}
.EventDetailsTopLtr
{
}
.EventsTableHeaderRow
{
	background-color: #f5863a;
	height: 25px;
}
.EventsTableHeader
{
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	padding-left: 7px;
	padding-right: 7px;
}
.ComingEventsTableRtl
{
	width: 100%;
}
.ComingEventsTableLtr
{
	width: 100%;
}
.ComingEventsRow
{
	background-color: #f2fcfe;
	padding: 5px;
}
.ComingEventsDivider
{
	height: 1px;
	background-color: #bbbbbb;
}
.TodaysEventsTableRtl
{
	width: 300px;
}
.TodaysEventsTableLtr
{
	width: 300px;
}
.TodaysEventsRow
{
	padding: 5px;
}
.TodaysEventsDivider
{
	height: 1px;
	background-color: #bbbbbb;
}
.EventTitle, A.EventTitle:Link, A.EventTitle:Visited, A.EventTitle:Hover
{
	font-size: 12px;
	font-weight: bold;
	color: #f5863a;
}
.Calendar
{
	border: 0px solid #FFFFFF;
	border-bottom: #f5863a 1px solid;
	width:131px;
}
.CalendarTitle
{
	background-color:#f5863a;
	text-decoration:none;
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
	height:24px;
	width:131px;
}
.DayHeader
{
	font-size:11px;
	color:#f5863a;
	font-weight: normal;
}
.DayStyle, A.DayStyle:Link, A.DayStyle:Visited, A.DayStyle:Hover
{
	font-size:11px;
	color:#454545;
	font-weight: normal;
	padding:4px;
}
.EventDayStyle, A.EventDayStyle:Link, A.EventDayStyle:Visited
{
	background-color: #d2f0ff;
	
}
.NextPrevStyle, A.NextPrevStyle:Link, A.NextPrevStyle:Visited, A.NextPrevStyle:Hover
{
	font-size: 12px;
	font-weight: bold;
	color:#FFFFFF;
}
.SelectedDayStyle, A.SelectedDayStyle:Link, A.SelectedDayStyle:Visited, A.SelectedDayStyle:Hover
{
	font-size: 12px;
	font-weight: bold;
	color:#f5863a;
	background-color: #d2f0ff;
	border: 1px solid #f5863a;
}
.OtherMonthDayStyle, A.OtherMonthDayStyle:Link, A.OtherMonthDayStyle:Visited
{
	color: #d2f0ff;
}

/*---- Forms ----*/
.InputField 
{
    border: 1px solid #2f4151; 
	font-size:11px;
	background-color:#ffffff;
	color:#2f4151;
}
.CheckBox
{
    border: 0px; 
	font-size:11px;
	background-color:#ffffff;
	color:#2f4151;
}
.FormTable
{
	border: 0px solid #d2f0ff;
	margin-left:200px;
}
.FormInputName
{
    font-size:11px;
    color: #2f4151;
    font-weight:normal;
	padding-left: 20px;
	padding-right: 10px;
}
.FormDescription
{
    font-size:11px;
    color: #454545;
	padding-left: 20px;
	padding-right: 20px;
}
.FormSubTitleRtl
{
	font-size: 12px;
	font-weight: bold;
	color:#f5863a;
	background-color: #d2f0ff;
	padding-right: 20px;
	height:25px;
}
.FormSubTitleLtr
{
	font-size: 12px;
	font-weight: bold;
	color:#008096;
	padding-left: 20px;
	height:25px;
}
.FormButton 
{
    border-style: solid;
    border-width:0;
	background-color:#008095;
	font-size:10px;
	font-weight : bold;
	color: #FFFFFF;
	text-align:center;
	cursor: hand;
	padding-right:6px;
	padding-left:6px;
}
.Comments
{
    font-size:11px;
    color: #454545;
    font-style:italic;
}


/*---- Survey -----*/
.SurveyResultRow
{
	border: 1px solid #000000;
}
.SurveyResultsColor
{
	background-color: #ff9933;
}
.OuterSurveyBoxRtl
{
	background-image:url(../Images/Hebrew/bgr_Survey.gif);
	width:187px;
	height:92px;
	vertical-align:top;
	background-repeat:no-repeat;
}
.OuterSurveyBoxLtr
{
	background-image:url(../Images/English/bgr_Survey.gif);
	width:187px;
	height:92px;
	vertical-align:top;
	background-repeat:no-repeat;
}
.InnerSurveyBoxRtl
{
	padding:5px;
}
.InnerSurveyBoxLtr
{
	padding:5px;
}
.SurveyTopRtl
{
	height:1px;
}
.SurveyTopLtr
{
	height:1px;
}
.SurveyTitleRtl
{
	font-size:11px;
	color:#2F3748;
	font-weight: bold;
}
.SurveyTitleLtr
{
	font-size:11px;
	color:#2F3748;
	font-weight: bold;
}
.SurveyMiddleRtl
{
	padding-right:50px;
}
.SurveyMiddleLtr
{
	padding-left:50px;
}
.SurveyBottomRtl
{
}
.SurveyBottomLtr
{
}
.SurveyAnswer
{
	font-size:11px;
	color:#2F3748;
	font-weight:bold;
	padding-right:3px;
	padding-left:3px;
}
.SurveyBottomRtl
{
	height:1px;
}
.SurveyBottomLtr
{
	height:1px;
}


/*------ List -----*/
.ListItemBoxRtl
{
}
.ListItemBoxLtr
{
}
.ListItemSingleBoxRtl
{
}
.ListItemSingleBoxLtr
{
}
.ListItemTitleRtl
{
    font-size:11px;
    color: #5d9f21;
    font-weight :bold;
    text-decoration: none;
}
.ListItemTitleLtr
{
    font-size:11px;
    color: #5d9f21;
    font-weight :bold;
    text-decoration: none;
}
.ListItemTitleLinkLtr
{
    font-size:11px;
    color: #008095;
    font-weight :bold;
    text-decoration: none;
}
.ListItemTitleTextRtl, A.ListItemTitleTextRtl:Link, A.ListItemTitleTextRtl:Visited
{
    font-size:14px;
    color: #515151;
    font-weight :bold;
    text-decoration: none;
}
.ListItemTitleTextLtr, A.ListItemTitleTextLtr:Link, A.ListItemTitleTextLtr:Visited
{
    font-size:14px;
    color: #515151;
    font-weight :bold;
    text-decoration: none;
}
A.ListItemDetailsLink:Link, A.ListItemDetailsLink:Visited
{
	color: #2f4151;
	font-size:11px; 
	text-decoration: none;
	font-weight:normal;
}
A.ListItemDetailsLink:Hover
{
	color: #2f4151;
	font-size:11px; 
	text-decoration: underline;
	font-weight:normal;
}
A.ListItemSmallLink:Link, A.ListItemSmallLink:Visited, A.ListItemSmallLink:Hover
{
	color: #7b7366;
	font-size:11px; 
	text-decoration:underline;
	font-weight:bold;
}
.ListDivider
{
	background-color: #bbbbbb;
}
/*---------- List Home Page ----------------*/
.HomeListItemBoxRtl
{
}
.HomeListItemBoxLtr
{
}
.HomeListItemSingleBoxRtl
{
	background-image:url(../Images/Hebrew/bgr_ListItemSingleBox.gif);
	background-repeat:no-repeat;
	background-position:top center;
	padding-left:10px;
	padding-right:10px;
}
.HomeListItemSingleBoxLtr
{
	background-image:url(../Images/English/bgr_ListItemSingleBox.gif);
	background-repeat:no-repeat;
	background-position:top center;
	padding-left:10px;
	padding-right:10px;
}
.HomeListItemTitleRtl
{
	height:30px;
}
.HomeListItemTitleLtr
{
	height:30px;
}
.HomeListItemTitleTextRtl, A.HomeListItemTitleTextRtl:Link, A.HomeListItemTitleTextRtl:Visited
{
    font-size:11px;
    color: #A4171B;
    font-weight :bold;
    text-decoration: none;
	
}
.HomeListItemTitleTextLtr, A.HomeListItemTitleTextLtr:Link, A.HomeListItemTitleTextLtr:Visited
{
    font-size:11px;
    color: #A4171B;
    font-weight :bold;
    text-decoration: none;
}
A.HomeListItemDetailsLink:Link, A.HomeListItemDetailsLink:Visited, A.HomeListItemDetailsLink:Hover
{
	color: #454545;
	font-size:11px; 
	text-decoration: none;
	font-weight:normal;
}
A.HomeListItemSmallLink:Link, A.HomeListItemSmallLink:Visited, A.HomeListItemSmallLink:Hover
{
	color: #A4171B;
	font-size:11px; 
	text-decoration:none;
	font-weight:bold;
}
.HomeListDivider
{
	background-color: #bbbbbb;
}
/*---------- List Home Page ----------------*/
/*------ Text Box -----*/
.TextBoxRtl
{
	border: 1px solid #add0f1;
}
.TextBoxLtr
{
	border: 1px solid #add0f1;
}
.TextBoxTitleRtl
{
	color: #2f4151;
	font-size:11px;
	padding:3px;
}
.TextBoxTitleLtr
{
	color: #2f4151;
	font-size:11px; 
	padding:3px;
}
.TextBoxLinkRtl
{
	color: #2f4151;
	font-size:11px; 
}
.TextBoxLinkLtr
{
	color: #2f4151;
	font-size:11px; 
}

/*------ Contact Details Box -----*/
.ContactDetailsTitleRtl
{
	color: #2f4151;
	font-size:13px; 
	font-weight: bold;
}
.ContactDetailsTitleLtr
{
	color: #2f4151;
	font-size:13px; 
	font-weight: bold;
}
.ContactDetailsText1
{
	color: #7b7366;
	font-size:11px; 
	font-weight: bold;
}
.ContactDetailsText2
{
	color: #7b7366;
	font-size:11px; 
}
A.ContactDetailsTextLink:Link, A.ContactDetailsTextLink:Visited
{
	color: #7b7366;
	font-size:11px; 
	text-decoration: underline;
}

/*------ News Strip -----*/
.NewsStripRtl
{
}
.NewsStripLtr
{
}
.NewsStripText, A.NewsStripText:Link, A.NewsStripText:Visited
{
	color: #2F4151;
	font-size:11px; 
	text-decoration:none;
	font-weight:normal; 
}

/*------ News Letter -----*/
.NewsLetterBodyRtl
{
	background-color: #eef0f2;
}
.NewsLetterBodyLtr
{
	background-color: #eef0f2;
}
.NewsLetterTableRtl
{
	border: 1px solid #c6ced2;
	background-color:#FFFFFF;
	padding: 0px;
}
.NewsLetterTableLtr
{
	border: 1px solid #c6ced2;
	background-color:#FFFFFF;
	padding: 0px;
}
.RemoveFromMailingListLink
{
	color: #7b7366;
	font-size:11px; 
	text-decoration: underline;
	font-weight:bold;
}

/*------ Events Scroller -----*/
.EventScrollerBoxRtl
{
}
.EventScrollerBoxLtr
{
}
.EventScrollerTitleRtl
{
	color: #2f4151;
	font-size:11px;
	font-weight: bold;
}
.EventScrollerTitleLtr
{
	color: #2f4151;
	font-size:11px;
	font-weight: bold;
}
.EventScrollerTextRtl
{
	color: #2f4151;
	font-size:11px; 
}
.EventScrollerTextLtr
{
	color: #2f4151;
	font-size:11px; 
}
.ListItemTitleLinkRtl
{
	color: #0e6fe4;
	font-size:11px;
	font-weight: bold;
}
.ListSmallPic
{
	border: 1px solid #bbbbbb;
}
.NewsLetterFooter
{
	height:21px;
	background-image:url(../images/hebrew/bgr_FooterNewsLetter.gif);
	background-position:bottom;
	background-repeat:no-repeat;
}
/* Use this for the background of the whole window */
.BodyBgRtl
{
	background-color:#ffffff;
}
.BodyBgLtr
{
	background-color:#ffffff;
}
.BodyBgInnerRtl
{
	background-color:#ffffff;
}
.BodyBgInnerLtr
{
	background-color:#ffffff;
}

/* The table that contains the site */
.MainTableRtl
{
}
.MainTableLtr
{
}
/* Homepage - the outer table that contains the text section */
.HomeOuterContentTableRtl
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.HomeOuterContentTableLtr
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
/* Homepage - the inner table that contains the text section */
.HomeInnerContentTableRtl
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	
}
.HomeInnerContentTableLtr
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	
}
/* Homepage - the text section */
.HomeTextTableRtl
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.HomeTextTableLtr
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
/* The outer table that contains the text section */
.OuterContentTableRtl
{
	padding-bottom:52px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.OuterContentTableLtr
{
	padding-bottom:52px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
/* The inner table that contains the text section */
.InnerContentTableRtl
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.InnerContentTableLtr
{
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
}
.PopUpTable
{
	padding: 10px;
	border: 1px solid #faf8f8;
	background-color: #FFFFFF;
}
.SPDesc
{
	padding-left:20px;
	width:344px;
	float:left;
}
.SPHighlights
{
	width:254px;
	padding-left:40px;
	padding-right:30px;
	float:left;
}
.SPPicTitle
{
	margin:0;
	padding:0;
}
.SPPicSeparetor
{
	height:1px;
	background-color:Black;
	margin-top:5px;
	margin-bottom:5px;
}
.SICatSep
{
	float:left;
	width:2%;
}
.SidePanel
{
	width:134px;
	padding:0px 20px 0px 20px;
	vertical-align:top;
	background-image:url(../images/v_line.gif);
	background-repeat:repeat-y;
	background-position:left top;
}
.SPPicBlockTitle
{
    font-size:13px;
    color: #003540;
    font-weight :bold;
    text-decoration: none;
}
.SPPicTitle
{
    font-size:11px;
    color: #003540;
    font-weight :bold;
    text-decoration: none;
	padding-bottom:8px;
	padding-top:20px;
}
.SPPic
{
	border:1px solid #f3f3f4;
}
.PSPTitle
{
    font-size:12px;
    color: #008095;
    font-weight:bold;
    text-decoration: none;
}
.PSPBlock
{
	padding-bottom:40px;
}
.PSPList a
{
	color:#454545;
	font-size:11px;
}
.SmallLinkHome, A.SmallLinkHome:Link, A.SmallLinkHome:Visited
{
    font-size:10px;
	color:#003540;
	font-weight:normal;
    text-decoration: none;
}
A.SmallLinkHome:Hover
{
    text-decoration:underline;
}

#Catalogs_Repeater_container
{
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}
#Catalogs_Repeater_container li
{
	height:250px;
	float:left;
}
.PICatalogBlock
{
	width:380px;
	padding:20px;
	float:left;
}

.PICatalogTitle, a.PICatalogTitle:Link, a.PICatalogTitle:Hover, a.PICatalogTitle:Visited
{
	color:#003540;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	margin-bottom:10px;
}
.PICatalogTitleLink, a.PICatalogTitleLink:Link, a.PICatalogTitleLink:Hover, a.PICatalogTitleLink:Visited
{
	color:#003540;
}
.PICatalogDesc
{
	margin-bottom:25px;
	vertical-align:top;
	min-height:171px;
}
.PICategoryBlock
{
	margin-bottom:20px;

}
.PICategoryTitle
{
	margin-bottom:10px;
	color:#003540;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}
.PICategoryDesc
{
	margin-bottom:15px;
}
.PISubCategoryTitle
{
	font-weight:bold;
	color:#008095;
	font-size:11px;
}
.PIProductLink
{
	color:#787878;
	font-size:11px;
	line-height:20px;
}
.SPPicturesBlock
{
	padding-left:20px;
	padding-right:20px;
}
.CSPDownloadText
{
	position:relative;
	top:-20px;
	text-align:center;
	font-size:10px;
	color:#767676;
}
.PSPTitle.CSPDownload
{
	margin-bottom:10px;
}
.CSPDownloadLink
{
	font-size:10px;
	color:#767676;
	text-decoration:underline;
}
.CSPDownloadBlock
{
	margin-bottom:40px;
}
.ContentPageMain
{
	margin:0px 40px 0px 20px;
}
.PageTitleBlock
{
	margin-bottom:33px;
}
.PTSeachBlock
{
	height:96px;
	width:154px;
	background-image:url('../images/bgr_Quick.gif');
	background-position:left top;
	background-repeat:no-repeat;
	padding-left:20px;
	padding-top:30px;
}
.PTSeachInput
{
	width:128px;
}
.PTSeachDD
{
	width:135px;
}
.PTSeachButton
{
	float:right;
	margin-right:20px;
	margin-top:3px;
	background-image:url(../images/bgr_Button.gif);
	background-position:bottom top;
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	border:0px solid #969696;
	color:#ffffff;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	height:24px;
	width:24px;
}
.topMenuItem 
{
	vertical-align:bottom;
}
.topMenuItemLink, a.topMenuItemLink:Link, a.topMenuItemLink:Visited, a.topMenuItemLink:Hover 
{
	color:#008095;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
	letter-spacing:-1;
	vertical-align:bottom;
}
.topMenuItemLinkSelected, a.topMenuItemLinkSelected:Link, a.topMenuItemLinkSelected:Visited, a.topMenuItemLinkSelected:Hover 
{
	color:#112e29;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
	letter-spacing:-1;	
	vertical-align:bottom;
}
.topMenuSeperator
{
	width:1px;
	background-image:url(../images/icon_top_menu.gif);
	background-position: center center;
	background-repeat:no-repeat;
	height:15px;
	padding:0px 14px 0px 14px;
}
.TNBlock
{
	height:92px;
}
.TNItem, a.TNItem:Link, a.TNItem:Visited, a.TNItem:Hover 
{
	color:#a9a9aa;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
}
.TNSelectedItem, a.TNSelectedItem:Link, a.TNSelectedItem:Visited, a.TNSelectedItem:Hover
{
	color:#003540;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
}
.TNSeperator
{
	color:#e7e8e9;
	font-size:10px;
	text-decoration:none;
	font-weight:normal;
}
.LogoTD
{
	padding-right:50px;
}
.MPTopSectionPadding
{
	width:300px;
}
h1
{
	padding-left:20px;
	padding-top:25px;
	margin:0px;
}

h2,h3,h4,h5,h6,h7,p
{
	margin:0px;
	padding:0;
}


.PCDescBox
{
	margin-bottom:25px;
}
.PCSubCategoriesBlock
{
	margin-top:25px;
}
.PSCProductTitleLink
{
	color:#003540;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}
.Divider1
{
	background-color: #e7e8e9;
}
.Divider2
{
    background-color: #e7e8e9;
}
/* Error Message */
.ErrorMessage
{
    font-size:11px;
    color: #FF0000;
    font-weight : normal;
}
.ErrorMessageLarge
{
    font-size:13px;
    color: #FF0000;
    font-weight : normal;
}
/* Marks required fields */
.Required
{
    font-size:11px;
    color: #FF0000;
}
.SIDescBox
{
	float:left;
	padding-left:20px;
	padding-right:40px;
}
.SIPicBox
{
	float:left;
}
.SICatBox
{
	width:246px;
	float:left;
	padding-left:20px;
	padding-right:20px;
}
.SIProductList 
{
	list-style-position:inside;
	margin:0;
	padding-bottom:25px;
	/*padding-left:15px;*/
	padding-left:0px;
	padding-top:30px;
	/*list-style-position :outside;*/
	background-repeat:no-repeat;
	background-position:right bottom;
	color:#008095;
	font-size:11px;
	line-height:18px;
	min-height:180px;
	float:left;
	min-width:280px;
}
.SIProductList2 
{
	list-style-position:inside;
	margin:0;
	padding-bottom:25px;
	/*padding-left:15px;*/
	padding-left:0px;
	padding-top:100px;
	/*list-style-position :outside;*/
	background-repeat:no-repeat;
	background-position:right bottom;
	color:#008095;
	font-size:11px;
	line-height:18px;
	min-height:180px;
	float:left;
	min-width:280px;
}
.SCProductsBlock
{
	width:310px;
	padding-left:20px
}
.SIProductList a
{
	color:#454545;
	font-size:11px;
}
.SIProductList2 a
{
	color:#454545;
	font-size:11px;
}
.SICatTitle
{
	margin:0;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	color:#003540;
	padding-bottom:16px;
}
.SICatDesc
{
	margin:0;
	margin-top:10px;
	height:120px !important;
	height:auto;
}
/* Border for tables and boxes */
.Border1
{
    border: 1px solid #faf8f8;
    border-collapse: collapse;
}
.Border2
{
    border: 1px solid #454545;
    border-collapse: collapse;
}

/*---- Gradients (Shadows) ----*/
.TopGradientRtl
{
	background-image: url(/images/hebrew/gradientTop.gif);
}
.TopGradientLtr
{
	background-image: url(/images/english/gradientTop.gif);
}
.BottomGradientRtl
{
	background-image: url(/images/hebrew/gradientBottom.gif);
}
.BottomGradientLtr
{
	background-image: url(/images/english/gradientBottom.gif);
}
.LeftGradientRtl
{
	background-image: url(/images/hebrew/gradientLeft.gif);
}
.LeftGradientLtr
{
	background-image: url(/images/english/gradientLeft.gif);
}
.RightGradientRtl
{
	background-image: url(/images/hebrew/gradientRight.gif);
}
.RightGradientLtr
{
	background-image: url(/images/english/gradientRight.gif);
}
.CornerBottomRightGradientRtl
{
	background-image: url(/images/hebrew/gradientCornerBottomRight.gif);
}
.CornerBottomRightGradientLtr
{
	background-image: url(/images/english/gradientCornerBottomRight.gif);
}
.CornerBottomLeftGradientRtl
{
	background-image: url(/images/hebrew/gradientCornerBottomLeft.gif);
}
.CornerBottomLeftGradientLtr
{
	background-image: url(/images/english/gradientCornerBottomLeft.gif);
}
.CornerTopRightGradientRtl
{
	background-image: url(/images/hebrew/gradientCornerTopRight.gif);
}
.CornerTopRightGradientLtr
{
	background-image: url(/images/english/gradientCornerTopRight.gif);
}
.CornerTopLeftGradientRtl
{
	background-image: url(/images/hebrew/gradientCornerTopLeft.gif);
}
.CornerTopLeftGradientLtr
{
	background-image: url(/images/english/gradientCornerTopLeft.gif);
}

/*---- Contact Us ----*/
.ContactDivider
{
	border-bottom:1px solid #faf8f8;
	height: 2px;
}

.HeaderText
{
    font-size:18px;
    color: #2F4151;
    font-weight:bold;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px solid #e7e8e9;
}
.Header
{
    font-size:20px;
    color: #2f4151;
    font-weight:bold;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
}

/*---- News ----*/

.NewsBoxRtl
{
}
.NewsBoxLtr
{
}
.NewsHeaderRtl
{ 
    font-size:14px;
    color: #008095;
    font-weight :bold;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
}
.NewsHeaderLtr
{ 
    font-size:14px;
    color: #008095;
    font-weight :bold;
    text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left;
}
.NewsTitleRtl
{ 
    font-size:11px;
    color: #003540;
    font-weight:bold;
	text-align:right;
}
.NewsTitleLtr
{ 
    font-size:11px;
    color: #003540;
    font-weight:bold;
	text-align:left;
}
.NewsTextBold, a.NewsTextBold:Link, a.NewsTextBold:Visited, a.NewsTextBold:Hover
{
    font-size:11px;
    color: #454545;
    font-weight:normal;
    text-decoration: none;
	line-height:14px;
}
.NewsBoxSeperator
{
	padding-bottom:5px;
	padding-top:5px;
}

/*---- Member Login ----*/

.MemberLoginTableRtl
{
    border: 0px solid #17117d;
	background-color:#E4E4E4; 
}
.MemberLoginTableLtr
{
    border: 0px solid #17117d;
	background-color:#E4E4E4; 
	/*background-image:url(/images/english/bgr_MemberLogin.gif);*/
}
.MemberLoginTitleRtl
{ 
    font-size:11px;
    color: #FFFFFF;
    font-weight : bold;
	background-color:#17117D;
	height: 23px;
	padding-right: 10px;
	padding-left: 10px;
	/*background-image:url(/images/hebrew/bgr_MemberLoginTitle.gif);*/
}
.MemberLoginTitleLtr
{ 
    font-size:11px;
    color: #FFFFFF;
    font-weight : bold;
	background-color:#17117D;
	height: 23px;
	padding-right: 10px;
	padding-left: 10px;
	/*background-image:url(/images/english/bgr_MemberLoginTitle.gif);*/
}
.MemberLoginText, a.MemberLoginText:Link, a.MemberLoginText:Visited, a.MemberLoginText:Hover
{
    font-size:11px;
    color: #17117D;
    font-weight : bold;
    text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
}
.MemberLoginSmallText
{ 
    font-size:11px;
    color: #FFFFFF;
    font-weight : bold;
}
.MemberLoginButton 
{
    border-style: solid;
    border-width:0;
	background-color:#008095;
	font-size:10px;
	font-weight : bold;
	color: #FFFFFF;
	text-align:center;
	cursor: hand;
	padding-right:6px;
	padding-left:6px;
}



/*---- Join News Letter ----*/

.JoinNewsLetterTableRtl
{
    border: 0px solid #17117d;
	background-color:#E4E4E4; 
	/*background-image:url(/images/hebrew/bgr_NewsLetterTable.gif);*/
}
.JoinNewsLetterTableLtr
{
    border: 0px solid #17117d;
	background-color:#E4E4E4; 
	/*background-image:url(/images/english/bgr_NewsLetterTable.gif);*/
}
.JoinNewsLetterTitleRtl
{ 
    font-size:11px;
    color: #ffffff;
    font-weight : bold;
	background-color:#17117D;
	height: 23px;
	padding-right: 10px;
	padding-left: 10px;
	/*background-image:url(/images/hebrew/bgr_NewsLetterTitle.gif);*/	
}
.JoinNewsLetterTitleLtr
{ 
    font-size:11px;
    color: #ffffff;
    font-weight : bold;
	background-color:#17117D;
	height: 23px;
	padding-right: 10px;
	padding-left: 10px;
	/*background-image:url(/images/english/bgr_NewsLetterTitle.gif);*/	
}
.JoinNewsLetterText, a.JoinNewsLetterText:Link, a.JoinNewsLetterText:Visited, a.JoinNewsLetterText:Hover
{
    font-size:11px;
    color: #494949;
    font-weight : bold;
    text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
}
.JoinNewsLetterButton 
{
    border-style: solid;
    border-width:0;
	background-color:#008095;
	font-size:10px;
	font-weight : bold;
	color: #FFFFFF;
	text-align:center;
	cursor: hand;
	padding-right:6px;
	padding-left:6px;
}



.TopMenuTableLtr td ul
{
	margin:0;
	padding:0;
}
.UlNoPaddingMargin
{
	margin:0;
	padding:0;
}
#logosContainerBox
{
	position:absolute;
	width:147px;
}
.LogosContainer
{
	position:absolute;
	left:-5px;
	top:0;
}
.seq
{   
    float:left;
    width:147px;
    line-height:65px;
    vertical-align:middle;
}
.LogoLink
{   
    line-height:65px;
    height:65px;
    vertical-align:middle;
}
.logos
{
	vertical-align:top;
    margin:0;
    padding:0;
    list-style-type:none;
}
.logosControl
{
	width:132px;
	height:147px;
	position:absolute;
	top:0;
	left:0;
}
.JobOffersTbl
{
	background-color:#f4f5f7;
	border-collapse:collapse;
	margin:0;
}
.JobOffersTd
{
	background-color:#fff;
	border:solid 1px #e8e6e7;
	margin:0;
	padding-left:15px;
	
}
.SmallText
{
    font-size:smaller;
}
.flashdiv
{
	text-align:right;
}

.alternateText
{
	position:absolute;
	width:350px;
	z-index:1;
	margin-left:-320px;
	background-color:White;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	
}

.PostTopMenuSpacer
{
	height:29px;
}
a.clsYear
{
	font-size:12px;
	color:#000;
	
}
a.clsYearActive
{
	font-size:12px;
	font-weight:bold;
	color:#000;
}
.TNCategories
{
	border-bottom:#b0b0b0 dotted 1px;
	padding-bottom:10px;
}
.FooterLinksTdLtr
{
	/*padding-left:180px !important;*/
}